/*/target/
/*/bin/
/*/.settings/
/*/.classpath
/*/.project
/*/.idea/
/*/package-lock.json
/*/node_modules/
/*/.vuepress/dist/*
/*/*.iml
**.versionsBackup
/target/
*.iml
/.idea/
.settings/
.classpath
.project